.contact-container {
  position: absolute; 
  bottom: 1rem; 
  right: 1rem; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.65rem; 
  color: #FFA500; 
}

.contact-labels {
  display: flex;
  justify-content: space-around; /* This will space out the items evenly */
  width: 100%; /* Take the full width available */
  gap: 0.5rem; /* Add space between items */
  align-items: center; /* This will vertically center the items */
}

.contact-details {
  display: flex;
  justify-content: space-between; /* This will space out the items evenly */
  width: 100%; /* Take the full width available */
  gap: 0.5rem; /* Add space between items */
}

.contact-labels a {
  text-decoration: none;
  color: #FFA500; /* Set the link color to orange */
  transition: color 0.2s ease;
  margin: 0 0.5rem; /* Add horizontal margin to space out the links */
}

.contact-details a:hover {
  color: #FFFFFF; 
}

.contact-labels a {
  text-decoration: none;
  color: #FFA500; /* Set the link color to orange */
  transition: color 0.2s ease;
  margin: 0 0.5rem; /* Add horizontal margin to space out the links */
}

.contact-details a:hover {
  color: #FFFFFF; 
}
