.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  color: #FFFFFF;
  position: relative; /* Added for absolute positioning of the contact overlay */
}

.title-year {
  position: absolute;
  top: 1.5rem; 
  left: 1.5rem; 
  font-size: 0.75rem; 
  color: #FFA500; 
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  opacity: 0;
  animation: fadeIn 1.5s 5s forwards; 
}

.title-year h3 {
  margin: 0;
}

.title-year p {
  margin: 0;
  font-weight: bold; /* Bold the year */
}

.lottie-animation {
  width: 75%; 
  max-width: 375px; 
  margin-bottom: 0.2rem; 
}

.tagline {
  font-size: 1.5rem;
  font-weight: 640;
  margin-top: 1rem;
  opacity: 0; /* Initially hidden */
  animation: fadeInUp 1.5s 4.3s forwards; /* Adjusted delay */
}

.quote {
  font-size: 1.2rem;
  font-weight: 595;
  margin-top: 1rem;
  opacity: 0; /* Initially hidden */
  animation: fadeInUp 1.5s 4.5s forwards; /* Adjusted delay */
}

.instructions {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 555;
  color: #FFA500; /* Orange color */
  opacity: 0;
  animation: fadeInUp 1.5s 5.2s forwards; /* Adjusted delay */
}

.name::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0; /* Start the cursor at the beginning of the text */
  width: .1em;
  height: 100%;
  background-color: transparent; /* Cursor color initially transparent */
  z-index: 1;
  animation: 
    blinkCursorBeforeTyping 0.4s step-end 1.5s infinite, /* Blinking before typing */
    moveCursor 1.2s steps(17, end) 2.2s forwards, /* Move cursor with typing */
    blinkCursorAfterTyping 0.4s step-end 4.1s infinite; /* Blinking after typing */
}

.name {
  font-size: 2rem;
  margin-top: .2rem;
  transition: color 0.2s ease;
  white-space: nowrap; /* Keeps content on a single line */
  overflow: hidden; /* Keeps content hidden until "typed" */
  width: 17ch; /* Width of content */
  position: relative; /* To position the pseudo-element */
  opacity: 1; /* Make the name (and cursor) visible */
  color: transparent; /* Hide the text content initially */
  z-index: 0;
  animation: typeEffect 1.2s steps(17, end) 2.7s forwards; /* Typing effect */
}


/* Hover effect for name, changing color to orange */
.name:hover {
  color: #FFA500; 
}

/* Typing effect */
@keyframes typeEffect {
  0% { 
    width: 0; 
    color: transparent; /* Keep the text content hidden */
  }
  1% { 
    color: #FFFFFF; /* Show the text content */
  }
  100% { 
    width: 17ch; 
    color: #FFFFFF; 
  }
}

/* Move cursor with typing */
@keyframes moveCursor {
  0% {
    left: 0;
    background-color: #808080;
  }
  100% {
    left: calc(17ch - 0.1em); /* Move cursor to the end, subtracting its own width */
    background-color: #808080;
  }
}

/* Cursor blinking effect before typing */
@keyframes blinkCursorBeforeTyping {
  from, to { background-color: transparent; }
  50% { background-color: #808080; }
}

/* Cursor blinking effect after typing */
@keyframes blinkCursorAfterTyping {
  from, to { background-color: transparent; }
  50% { background-color: #808080; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
